##########################
# whole folders          #
##########################

#eps-create/

##########################
# compilation files      #
##########################

*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.md5
*.dep
*.dpth

##########################
# backups                #
##########################

*.backup
*tex~
*.bak

##########################
# special files project  #
##########################

